* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #0A3871;
    --secondary-color: #D8DFE8;
    --background-color: #F3F5FC;
    --fuente-inter: "Inter", sans-serif;
}

body {
    font-family: var(--fuente-inter);
    background-color: var(--background-color);
    height: 95vh;
    padding: 2% 2%;
}

.area_principal {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.entrada_texto {
    padding: 70px;
    justify-content: center;
    width: 100%;
}

.salida_texto {
    padding: 10px;
    justify-content: center;
    width: 100%;
}

.botones {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.botones>* {
    margin: 2%;
    gap: 10px;
    padding: 20px;
    cursor: pointer;
    width: 328px;
    border-radius: 24px;
}

.btn_e {
    color: white;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn_d {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
}

.btn_copiar {
    margin: 20% 1% 1% 1%;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.entrada_txt {
    width: 100%;
    height: 90%;
    resize: none;
    border: none;
    background-color: var(--background-color);
    font-size: 25px;
    text-align: justify;
}

.salida_txt {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 32px;
    padding: 10px 10px 10px 15px;
    text-align: center;
    background-color: white;
    gap: 10px;
    resize: none;
    cursor: default;
}

p, h1 {
    text-align: center;
}



.entrada_txt:focus,
.salida_txt:focus {
    outline: none;
    background-color: transparent;
}


@media (min-width:481px) and (max-width: 1024px) { /* Tablet */
    .area_principal {
        flex-direction: column;
        align-items: center;
    }

    .entrada_texto {
        width: 100%;
        padding: 50px;
        height: 70%;
    }

    .salida_texto {
        width: 100%;
        padding: 5px;
    }

    .botones {
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }

    .botones>* {
        width: 45%;
        margin: 5px 1px 1px 1px;
    }



    .salida_txt {
        width: 100%;
        gap: 10px;
        padding: 10px 0px;
    }

    .btn_copiar {
        flex: auto;
        justify-content: center;
        padding: 10px;

    }

    img{
        display: none;
    }
}


@media (max-width: 480px) { /* Celulares */
    .area_principal {
        flex-direction: column;
        align-items: center;
    }

    .entrada_texto {
        width: 100%;
        padding: 50px;
        height: 55%;
    }

    .salida_texto {
        width: 80%;
        height: 35%;
        padding: 5px;
    }

    .botones {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .botones>* {
        width: 100%;
        margin: 5px 1px 1px 1px;
    }


    .salida_txt {
        width: 100%;
        gap: 10px;
        padding: 10px 0px 10px 10px;
        text-align: justify;
    }

    .btn_copiar {
        flex: auto;
        justify-content: center;
        padding: 10px;
        width: 70%;

    }

    img{
        display: none;
    }
}

